body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #1a1a1a; /* mudança de cor de fundo */
    color: #fff;
    font-family: Inter, sans-serif;
}

h1, h2 {
    text-align: center;
    font-weight: 600; /* adiciona peso à fonte */
}

h1 {
    font-size: 36px; /* aumenta o tamanho do título */
}

h2 {
    font-size: 24px; /* diminui o tamanho do subtítulo */
}

table {
    display: inline-block;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #fff; /* mudança de cor das bordas */
    color: #fff;
}

th, td {
    padding: 12px; /* aumenta o espaçamento interno */
    text-align: left;
}

form {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

form label {
    display: block;
    margin-bottom: 10px; /* aumenta o espaçamento inferior */
}

#movimentacao {
    margin-bottom: 50px;
}

#historico {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 20px);
    margin-left: 25%;
}

#historico table, #historico th, #historico td {
    border: 1px solid #fff; /* mudança de cor das bordas */
}

#historico th, #historico td {
    padding: 12px; /* aumenta o espaçamento interno */
    text-align: left;
}
